body{
    background-color: rgb(214, 235, 243);
}
.heading{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    font-family: 'Allura', cursive;
    color: brown;
    font-size: 30px;
}
.questions{
    margin: 0% 20% 10% 20%;
    font-family: 'Ysabeau', sans-serif;
    font-size: 20px;
}
.question{
   width: 100%;
    background-color: white;
    height: auto;
    margin-bottom: 20px;
}
p{
    padding:10px;
    display: inline-block;
}
.icons{
   float: right;
}
button{
    border: none;
    background-color: white;
    padding: 10px;
}
img{
    width: 30px;
    height: 30px;
}
.plus-icon{
   margin-top: 20px;
}
.minus-icon{
    margin-top: 20px;
}
.answer{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(8, 78, 94);
}
.hidden{
    display: none;
}
@media screen and (max-width:1030px){
    .questions{
        margin: 10%;
    }
}
@media screen and (max-width:780px){
    .questions{
        margin: 0%;
    }
}
@media screen and (max-width:620px){
    p{
        width: 70%;
    }

}